* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Yantramanav', sans-serif; }

html, body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  height: 100%;
  scroll-behavior: smooth; }

body {
  background-color: #26272c; }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-20rem); }
  80% {
    transform: translateX(1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(20rem); }
  80% {
    transform: translateX(-1rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem); }
  100% {
    opacity: 1;
    transform: translate(0); } }

@font-face {
  font-family: Aileron;
  src: url("../../ailerons/Ailerons-Typeface.otf"); }

p {
  color: white;
  font-size: 20px;
  font-family: 'Yantramanav', sans-serif; }

.listelm {
  padding-top: 10px;
  padding-bottom: 10px; }

.smallTitle {
  font-family: 'Yantramanav', sans-serif;
  font-size: 50px;
  color: white;
  margin: 0; }

.subTitle {
  font-family: 'Yantramanav', sans-serif;
  font-size: 30px;
  color: white;
  margin: 0;
  font-style: italic; }

.smallDesc {
  font-family: 'Yantramanav', sans-serif; }

.title {
  font-family: 'Yantramanav', sans-serif;
  font-size: 90px;
  color: white;
  text-align: center;
  margin: 0; }

.desc {
  font-size: 54px; }

#initials {
  font-family: 'Permanent Marker', cursive; }

.heading-primary {
  text-align: center;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;
  display: block;
  font-size: 6rem;
  letter-spacing: .5rem;
  position: relative;
  color: white; }
  .heading-primary--main {
    font-size: 10rem;
    font-family: Aileron;
    display: block;
    font-weight: 50;
    animation: moveInRight 1.2s ease-in; }
  .heading-primary--sub {
    font-size: 7rem;
    font-family: Aileron;
    font-weight: 50;
    display: block;
    animation: moveInLeft 1.2s ease-in; }

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 700;
  display: inline-block;
  color: white;
  letter-spacing: 2px;
  transition: all .2s;
  padding: 1rem 4rem 2rem 3rem; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 5rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-small {
  margin-top: 1.5rem !important; }

.u-margin-top-medium {
  margin-top: 4rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.btn, .btn:link, .btn:visited {
  text-transform: uppercase;
  text-decoration: none;
  padding: 1.5rem 4rem;
  display: inline-block;
  border-radius: 10rem;
  transition: all .2s;
  position: relative;
  font-size: 2rem;
  border: none;
  cursor: pointer; }

.btn:hover {
  transform: translateY(-0.3rem);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2); }
  .btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0; }

.btn:active, .btn:focus {
  outline: none;
  transform: translateY(-0.1rem);
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2); }

.btn--grays {
  background-image: linear-gradient(to right bottom, #6f778f, #26272c);
  color: white; }
  .btn--grays::after {
    background-image: linear-gradient(to right bottom, #6f778f, #26272c); }

.btn::after {
  /* have to specify these two */
  content: "";
  display: inline-block;
  height: 100%;
  width: 100%;
  border-radius: 10rem;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  transition: all .4s; }

.btn--animated {
  animation: moveInBottom .5s ease-out .5s;
  animation-fill-mode: backwards; }

.btn-text:link, .btn-text:visited {
  font-size: 1.6rem;
  color: #414655;
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid #414655;
  padding: 1rem;
  transition: all .2s; }

.btn-text:hover {
  background-color: #414655;
  color: white;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
  transform: translateY(-2px); }

.btn-text:active {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
  transform: translateY(0); }

.card {
  height: 30rem;
  background-image: linear-gradient(to right bottom, rgba(111, 119, 143, 0.3), rgba(38, 39, 44, 0.3)), url(../../photos/stairs.jpg);
  border-radius: 3px;
  box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.3);
  position: relative;
  display: block; }
  .card__side {
    margin: 1rem 2rem;
    position: absolute; }

#cheetah {
  background-image: url("photos/cheetah.jpg"); }

#bike {
  background-image: url("photos/bike.jpeg"); }

#flower {
  background-image: url("photos/flower.jpeg"); }

#ferns {
  background-image: url("photos/ferns.jpg"); }

#giraffe {
  background-image: url("photos/giraffe.jpg"); }

#southtree {
  background-image: url("photos/southtree.jpg"); }

#boat {
  background-image: url("photos/boat.jpeg"); }

#elsalv {
  background-image: url("photos/elsalv.jpeg"); }

.intro {
  height: 100vh; }
  .intro__box {
    height: 50%;
    width: 60%;
    margin: 17rem auto 10rem auto;
    font-family: 'Yantramanav', sans-serif;
    color: white;
    background-image: linear-gradient(to right bottom, rgba(111, 119, 143, 0.3), rgba(38, 39, 44, 0.3)), url(../../photos/stairs.jpg);
    border-radius: 3px;
    transform: skewX(-15deg);
    box-shadow: 1rem 1rem 2rem rgba(255, 255, 255, 0.5); }
  .intro__text {
    position: absolute;
    top: 0;
    left: 0;
    transform: skewX(15deg);
    text-align: center; }

#globe {
  color: white;
  padding-right: 0;
  margin-right: 0; }

.warning {
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  position: fixed;
  z-index: 3000;
  background-image: linear-gradient(to right bottom, #ffb900, #ff7730); }
  .warning__box {
    position: absolute;
    width: 400px;
    height: 400px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: orange;
    text-align: center;
    background-color: white;
    clip-path: polygon(50% 80%, 0 0, 100% 0); }
  .warning__text {
    text-align: center;
    width: 100px;
    font-size: 30px;
    position: relative;
    left: 30%;
    top: 20%; }

.footer {
  padding: 15rem 0; }
  .footer__content {
    border-top: solid 1px #6f778f;
    padding-top: 1rem;
    display: inline-block; }

.row {
  max-width: 114rem;
  margin: 3rem auto; }
  .row:not(:last-child) {
    margin-bottom: 8rem; }
  .row [class^="col-"] {
    float: left; }
    .row [class^="col-"]:not(:last-child) {
      margin-right: 6rem; }
  .row .col-1-of-2 {
    width: calc((100% - 6rem) / 2); }
  .row .col-1-of-3 {
    width: calc((100% - (2 * 6rem)) / 3); }
  .row .col-2-of-3 {
    width: calc(2 * ((100% - (2 * 6rem)) / 3) + 6rem); }
  .row .col-1-of-4 {
    width: calc((100% - (3 * 6rem)) / 4); }
  .row .col-2-of-4 {
    width: calc(2 * ((100% - (3 * 6rem)) / 4) + 6rem); }
  .row .col-3-of-4 {
    width: calc(3 * ((100% - (3 * 6rem)) / 4) + 2 * 6rem); }

.header {
  height: 100vh;
  width: 100%;
  font-family: Aileron; }
  .header__img {
    height: 100%;
    width: auto;
    background-image: url("../../photos/bg.jpg"); }
  .header__textBox {
    top: 45%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    text-align: center; }

.navigation__checkbox {
  display: none; }

.navigation__button {
  background-image: linear-gradient(to bottom right, #6f778f 50%, #26272c);
  height: 7rem;
  width: 7rem;
  border-radius: 50%;
  position: fixed;
  top: 4rem;
  right: 4rem;
  z-index: 2000;
  box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.1);
  text-align: center;
  cursor: pointer; }

.navigation__background {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  position: fixed;
  top: 4.5rem;
  right: 4.5rem;
  background-image: radial-gradient(#6f778f, #26272c 40%);
  z-index: 1000;
  -webkit-transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1);
  transition: transform 0.8s cubic-bezier(0.86, 0, 0.07, 1); }

.navigation__nav {
  height: 100vh;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 1500;
  opacity: 0;
  width: 0;
  -webkit-transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 0.8s cubic-bezier(0.68, -0.55, 0.265, 1.55); }

.navigation__list {
  font-family: 'Saira Condensed', sans-serif;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  list-style: none;
  text-align: center;
  width: 100%; }

.navigation__item {
  margin: 1rem; }

.navigation__link:link, .navigation__link:visited {
  display: inline-block;
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  padding: 1rem 2rem;
  color: white;
  text-transform: uppercase;
  background-image: linear-gradient(120deg, transparent 50%, white 50%);
  background-size: 250%;
  transition: all .5s; }
  .navigation__link:link span, .navigation__link:visited span {
    margin-right: 1.5rem;
    display: inline-block; }

.navigation__link:hover, .navigation__link:active {
  background-position: 100%;
  color: #414655;
  transform: translateX(1rem); }

.navigation__checkbox:checked ~ .navigation__background {
  transform: scale(80); }

.navigation__checkbox:checked ~ .navigation__nav {
  width: 100%;
  opacity: 1; }

.navigation__icon {
  position: relative;
  margin-top: 3.3rem;
  background-color: white; }
  .navigation__icon, .navigation__icon::before, .navigation__icon::after {
    width: 3rem;
    height: 2px;
    background-color: #26272c;
    display: inline-block;
    transition: all .2s; }
  .navigation__icon::before, .navigation__icon::after {
    content: "";
    position: absolute;
    left: 0;
    transition: all .2s; }
  .navigation__icon::before {
    top: -.8rem; }
  .navigation__icon::after {
    top: .8rem; }

.navigation__button:hover .navigation__icon::before {
  top: -1rem; }

.navigation__button:hover .navigation__icon::after {
  top: 1rem; }

.navigation__checkbox:checked + .navigation__button .navigation__icon {
  background-color: transparent; }

.navigation__checkbox:checked + .navigation__button .navigation__icon::before {
  top: 0;
  transform: rotate(135deg); }

.navigation__checkbox:checked + .navigation__button .navigation__icon::after {
  top: 0;
  transform: rotate(-135deg); }

.contact {
  font-size: 50px;
  color: white;
  margin: 0;
  padding-bottom: 10px;
  font-family: 'Yantramanav', sans-serif; }

#email {
  color: white;
  text-decoration: none; }

.cinfo {
  position: relative;
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0; }

.list {
  list-style-type: none;
  padding-top: 2rem;
  padding-left: 6rem; }

.filler {
  padding-left: 200px;
  padding-right: 200px; }

.parallax {
  /* The image used */
  /* Full height */
  height: 100px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover; }
