
$color-primary: rgb(65, 70, 85);
$color-primary-light: rgb(111, 119, 143);
$color-primary-dark: rgb(44, 48, 58);

$color-secondary: rgb(27, 51, 140);
$color-secondary-light: rgb(78, 93, 145);
$color-secondary-dark: rgb(19, 32, 79);

