@media screen and (max-width: 1440px) {
  .base {
    width: 70vw;
  }
  
  .previewImg {
    max-width: 60vw;
  }
}

@media screen and (max-width: 1200px) {
  .base {
    width: 90vw;
  }
  
  .previewImg {
    max-width: 70vw;
  }
}

@media screen and (max-width: 1024px) {
  
}

@media screen and (max-width: 800px) {
  .skills__box__item--title {
    font-size: 1.3rem;
  }
  
  .experience__title {
    font-size: 1.3rem;
  }

  .skills__title {
    font-size: 1.3rem;
  }


}

@media screen and (min-width: 1700px) {
  .base {
    max-width: 1040px;
  }
}


// @media screen and (max-width: 1440px) {

// }
// @media screen and (max-width: 1440px) {
//   // .base {
//   //   height: auto;
//   // }
// }
// https://www.makeuseof.com/responsive-navigation-bar-using-html-and-css/