.about {
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#aboutBtn {
  align-self: flex-end;
  margin-top: 4rem;
  margin-right: 4rem;
}

#who {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)), 
    url('../assets/steps.JPG');
  background-size: contain;
}

#what {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
    url('../assets/tower.JPG');
  background-size: contain;

}

#why {
  background-image: linear-gradient(rgba(0, 0, 0, .3), rgba(0, 0, 0, .3)),
    url('../assets/walk.JPG');
  background-size: contain;

}