
.card {
  height: 30rem;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, .3), rgba($color-primary-dark, .3)), url(../../photos/stairs.jpg);

  border-radius: 3px;
  box-shadow: 1rem 1rem 2rem rgba(white, .3);
  position: relative;

  // &:hover {

  // }

  &__side {
    margin: 1rem 2rem;
    position: absolute;
  }
}

