
.card {
  height: 30rem;
  background-image: linear-gradient(to right bottom, $color-primary-light 5%, $color-primary-dark);
  border-radius: 3px;
  box-shadow: 0 0 4rem rgba(white, .2);
  position: relative;

  // &:hover {

  // }

  &__side {
    margin: 1rem 2rem;
    position: absolute;
  }
}


