#cheetah {
  background-image: url('photos/cheetah.jpg');
}

#bike {
  background-image: url('photos/bike.jpeg');
}

#flower {
  background-image: url('photos/flower.jpeg');
}

#ferns {
  background-image: url('photos/ferns.jpg');
}

#giraffe {
  background-image: url('photos/giraffe.jpg');
}

#southtree {
  background-image: url('photos/southtree.jpg');
}

#boat {
  background-image: url('photos/boat.jpeg');
}

#elsalv {
  background-image: url('photos/elsalv.jpeg');
}