* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  height: 100%;
}

body {
  background-image: linear-gradient($color-primary-light, $color-primary-dark);
  // background-color: rgb(65, 70, 85);
  // #414655
}
