p {
  color: white;
  font-size: 20px;
  font-family: 'Yantramanav', sans-serif;
}

.listelm {
  padding-top: 10px;
  padding-bottom: 10px;
}

.smallTitle {
  font-family: 'Yantramanav', sans-serif;
  font-size: 50px;
  color: white;
  margin: 0;
}

.subTitle {
  font-family: 'Yantramanav', sans-serif;
  font-size: 30px;
  color: white;
  margin: 0;
  font-style: italic;
}

.smallDesc {
  font-family: 'Yantramanav', sans-serif;
}

.title {
  font-family: 'Yantramanav', sans-serif;
  font-size: 90px;
  color: white;
  text-align: center;
  margin: 0;
}

.desc {
  font-size: 54px;
}

#initials {
  font-family: 'Permanent Marker', cursive;
}