@font-face {
  font-family: Aileron;
  src: url("../../ailerons/Ailerons-Typeface.otf");
}

p {
  color: white;
  font-size: 20px;
  font-family: 'Yantramanav', sans-serif;
}

.listelm {
  padding-top: 10px;
  padding-bottom: 10px;
}

.smallTitle {
  font-family: 'Yantramanav', sans-serif;
  font-size: 50px;
  color: white;
  margin: 0;
}

.subTitle {
  font-family: 'Yantramanav', sans-serif;
  font-size: 30px;
  color: white;
  margin: 0;
  font-style: italic;
}

.smallDesc {
  font-family: 'Yantramanav', sans-serif;
}

.title {
  font-family: 'Yantramanav', sans-serif;
  font-size: 90px;
  color: white;
  text-align: center;
  margin: 0;
}

.desc {
  font-size: 54px;
}

#initials {
  font-family: 'Permanent Marker', cursive;
}

.heading-primary {
  text-align: center;
  // color: white;
  text-transform: uppercase;
  backface-visibility: hidden;
  margin-bottom: 3rem;
  display: block;
  font-size: 6rem;
  letter-spacing: .5rem;
  position: relative;
  color: white;
  

  &--main {
    font-size: 10rem;
    font-family: Aileron;
    display: block;
    font-weight: 50;
    animation: moveInRight 1.2s ease-in;
  }

  &--sub {
    font-size: 7rem;
    font-family: Aileron;
    font-weight: 50;
    display: block;
    animation: moveInLeft 1.2s ease-in;
  }
}

.heading-secondary {
  font-size: 2.5rem;
  font-weight: 700;
  display: inline-block;
  color: white;
  letter-spacing: 2px;
  transition: all .2s;
  padding: 1rem 4rem 2rem 3rem;
}


