@import url('./styles/utilities.css');
@import url('./styles/responsive.css');

.App {
  height: 100vh;
  width: 100vw;
  position: relative;
  overflow: hidden;
  background: transparent;
  top: 0;
  left: 0;
  background: linear-gradient(40deg, rgb(15, 11, 8), rgb(27, 18, 0));

  display: flex;
  align-items: center;
  justify-content: center;
}

.app__content {
  max-height: fit-content !important;
  max-width: 95vw;

  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-template-rows: repeat(6, auto);
  grid-template-areas: 
    "section1 section7 section7 section7 section5 section5"
    "section2 section2 section2 section2 section5 section5"
    "section4 section4 section3 section3 section5 section5"
    "section4 section4 section3 section3 section5 section5"
    "section4 section4 section6 section6 section5 section5"
    "section4 section4 section6 section6 section5 section5";
  gap: 2rem;
  
}

.frame {
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
  font-size: 20px;
  padding: 1.5rem;
  opacity: 0.2;
  transition: all .2s ease-in;
  z-index: 10;
  filter: blur(2px);
  position: relative;
}

.frame:hover {
  opacity: 1;
  filter: blur(0);
}

/* ******************************** */
/* ***** CONTACT SECTION ****** */
/* ******************************** */

#section1 {
  grid-area: section1;
}

.contact__links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 1rem;
  gap: 1rem;
}

.contact__item {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0.5rem;
  color: white;
  font-size: 16px;
  background-color: transparent;
  border: none;
  transition: all .2s ease-in-out;
}

.contact__item:hover {
  cursor: pointer;
  transform: scale(1.03);
}

/* ******************************** */
/* ***** CERTS SECTION ******** */
/* ******************************** */
#section2 {
  grid-area: section2;
}

.certs__container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  gap: 4rem;
}

.certs__divider {
  height: 60%;
  width: 2px;
  background-color: rgba(255, 255, 255, 0.466);
}

.certs__item {
  height: 100%;
}

/* ******************************** */
/* ***** HERO SECTION ********* */
/* ******************************** */
#section3 {
  grid-area: section3;
}

.hero {
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 2rem;
  font-size: 20px;
  padding: 1rem 1.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 10;
}


/* ******************************** */
/* ***** PROJECTS SECTION ******* */
/* ******************************** */
#section4 {
  grid-area: section4;
}

.projects {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
}

.projects__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  z-index: 100;
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  transform: translateX(-50%);
}

.projects__btn {
  background-color: transparent;
  border: 1px solid white;
  outline: none;
  transition: all .2s ease-in-out;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem
}

.projects__btn--active {
  background-color: white;
  border: 1px solid white;
  outline: none;
  transition: all .2s ease-in-out;
  border-radius: 50%;
  height: 2.5rem;
  width: 2.5rem;
}

.projects__btn:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.projects__btn:active {
  transform: translateY(2px);
}

.projects__btn--disabled {
  background-color: transparent;
  border: none;
  outline: none;
  font-size: 50px;
  color:rgba(128, 128, 128, 0.432)
}

.carousel {
  height: 100%;
  width: 100%;
  position: relative;
  list-style-type: none;
  padding: 0;
}

.carousel__item {
  opacity: 0;
  transition: 500ms;
  margin: auto;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeIn 1s ease-in-out;
}

.carousel__item--active {
  opacity: 1;
  transition: 500ms;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  animation: fadeIn 1.5s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.item__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex: 0 0 auto;
}

.header__details {
  text-align: end;
}

.item__content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
  gap: 1rem;
}

.item__desc {
  margin-top: 2rem;
}

/* ******************************** */
/* ***** WORK SECTION ******* */
/* ******************************** */
#section5 {
  grid-area: section5;
}

#heroContainer {
  position: relative;
}

#firstName {
  font-size: 8rem;
  text-align: center;
}

#titles {
  font-size: 3rem;
  text-align: center;
}

.work__card {
  padding: 2rem;
  border-radius: 20px;
  background-color: rgba(0,0,0,.3);
}

.work {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 100px 1fr;
  gap: 1rem
}

.work__header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.work__items {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 20px;
}

/* ******************************** */
/* ******* SKILLS SECTION ******** */
/* ******************************** */
#section6 {
  grid-area: section6;
}

.skills__list {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
  margin: 0;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  padding: 0;
}

.skills__item {
  background-color: rgba(0, 0, 0, .4);
  border-radius: 0.8rem;
  padding: 1.2rem;
  user-select: none;
}

/* ******************************** */
/* ******* STATUS SECTION ********* */
/* ******************************** */
#section7 {
  grid-area: section7;
}

.status {
  display: grid;
  grid-template-columns:1fr 1fr 1fr;
  grid-template-rows: 1fr;
  gap: 1rem;
}

.status__progress {
  height: 25px;
  width: 80%;
  background: linear-gradient(to right, white 60%, rgba(0,0,0,.3) 60%);
  border-radius: 5px;;
}

.status__title {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.link {
  display: inline-block;
}

/* ******************************** */
/* ******** BLOBS ******** */
/* ******************************** */
.blobs {
  height: 100vh;
  width: 100vw;
  filter: blur(40px);
  position: absolute;
  top: 0;
  left: 0;
}

.b1 {
  position: absolute;
  height: 80vh;
  width: 80vh;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: radial-gradient(circle at center, rgba(167, 86, 19, 1), rgba(167, 86, 19, 0) 60%) no-repeat;
  animation: moveAround 10s ease infinite;
  mix-blend-mode: hard-light;
  /* transform-origin: -10px; */
  opacity: 1;
}

@keyframes moveAround {
  0% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }

  20% {
    transform: translate(-47%, -47%);
    opacity: .6;
  }

  40% {
    transform: translate(-53%, -47%);
  
    opacity: 1;
  }
  
  60% {
    transform: translate(-57%, -52%);
    opacity: .6;
  }

  80% {
    transform: translate(-47%, -53%);
    opacity: .6;
  }

  100% {
    transform: translate(-50%, -50%);
    opacity: 1;
  }
}

#mouse {
  position: absolute;
  /* transform: translate(-50%, -50%); */
  height: 250px; 
  width: 250px;
  top: 0;
  left: 0;
  background: radial-gradient(circle at center, rgba(211, 156, 4, 0.8) 0, rgba(211, 156, 4, 0) 60%) no-repeat;
  opacity: .8;
  filter: blur(10px);
}

/* ******************************** */
/* ******** OTHER ******** */
/* ******************************** */
a {
  text-decoration: none;
  color: white;
  font-size: 1.4rem;
}

a:hover {
  cursor: pointer;
}

p {
  margin: 0;
}

.ellipses {
  font-size: 1.6rem;
}

h1 {
  font-size: 5rem;
  font-weight: 400;
  font-family: 'League Gothic', sans-serif;
  margin: 0;
}

h2 {
  font-size: 10rem;
  font-weight: 400;
  font-family: 'League Gothic', sans-serif;
  margin: 5rem 0 0 5rem;
}

h3 {
  font-size: 4rem;
  font-weight: 400;
  font-family: 'League Gothic', sans-serif;
  margin: 0;
}

h5 {
  margin: 0;
  font-size: 2.7rem;
  font-weight: 400;
  font-family: 'League Gothic', sans-serif;
}

p {
  font-size: 1.6rem;
}

button {
  font-family: 'Inter', sans-serif;
}

.lightBtn {
  background-color: #fff;
  color: #181818;
  padding: 1rem 2rem;
  border-radius: 5px;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .7);
  transition: all ease-in-out .2s;
  border: none;
  font-size: 1.5rem;
}

.lightBtn:hover {
  cursor: pointer;
  transform: translateY(-2px);
}

.btn {
  display: block;
  margin-top: 1rem;
  padding: 1rem 2rem;
  width: fit-content;
  background-color: #6A7062;
  text-decoration: none;
  border-radius: 5px;
  color: white;
  font-size: 1.6rem;
  box-shadow: 0 0 1rem rgba(0, 0, 0, .3);
  transition: all .2s ease-in-out;
}

.btn:hover {
  transform: translateY(-2px);
}

.btn:active {
  transform: translateY(2px);
}

.icon > svg {
  height: 2rem;
  width: 2rem;
}